# Dataset 
Menggunakan data dari Kaggle, Dataset ini memiliki dua file yang berisi judul ( titles.csv ) dan pemeran ( credits.csv ) untuk judul tersebut. Pada bagian ini dataset dicek jumlah data, missing values dan type data.

Data : https://www.kaggle.com/datasets/victorsoeiro/netflix-tv-shows-and-movies

In [ ]:
#Library
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.impute import SimpleImputer

In [ ]:
#Dataset
df1 = pd.read_csv('https://raw.githubusercontent.com/Fauzan-Kamil/dataset/main/credits.csv')
df1.tail()

       person_id         id                name     character      role
77796     736339  tm1059008    Adelaida Buscato     María Paz     ACTOR
77797     399499  tm1059008  Luz Stella Luengas  Karen Bayona     ACTOR
77798     373198  tm1059008         Inés Prieto         Fanny     ACTOR
77799     378132  tm1059008        Isabel Gaona        Cacica     ACTOR
77800    1950416  tm1059008      Julian Gaviria           NaN  DIRECTOR

In [ ]:
df2 = pd.read_csv('https://raw.githubusercontent.com/Fauzan-Kamil/dataset/main/titles.csv')
df2.tail()

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
5845,tm1014599,Fine Wine,MOVIE,A beautiful love story that can happen between...,2021,NaN,100,"['romance', 'drama']",['NG'],NaN,tt13857480,6.8,45.0,1.466,NaN
5846,tm898842,C/O Kaadhal,MOVIE,A heart warming film that explores the concept...,2021,NaN,134,['drama'],[],NaN,tt11803618,7.7,348.0,NaN,NaN
5847,tm1059008,Lokillo,MOVIE,A controversial TV host and comedian who has b...,2021,NaN,90,['comedy'],['CO'],NaN,tt14585902,3.8,68.0,26.005,6.3
5848,tm1035612,Dad Stop Embarrassing Me - The Afterparty,MOVIE,"Jamie Foxx, David Alan Grier and more from the...",2021,PG-13,37,[],['US'],NaN,NaN,NaN,NaN,1.296,10.0
5849,ts271048,Mighty Little Bheem: Kite Festival,SHOW,"With winter behind them, Bheem and his townspe...",2021,NaN,7,"['family', 'animation', 'comedy']",[],1.0,tt13711094,7.8,18.0,2.289,10.0

# Data Preparation

## Cek Tipe Data

In [ ]:
#Cek Tipe data
df1.dtypes

person_id     int64
id           object
name         object
character    object
role         object
dtype: object

In [ ]:
df2.dtypes

id                       object
title                    object
type                     object
description              object
release_year              int64
age_certification        object
runtime                   int64
genres                   object
production_countries     object
seasons                 float64
imdb_id                  object
imdb_score              float64
imdb_votes              float64
tmdb_popularity         float64
tmdb_score              float64
dtype: object

## Cek Missing Values

In [ ]:
df1.isnull().sum()

person_id       0
id              0
name            0
character    9772
role            0
dtype: int64

Karena tipe data 'character' adalah string sehingga, untuk nilai yang kosong atau missing values tidak bisa di isi dengan Simpel Imputer

In [ ]:
df2.isnull().sum()

id                         0
title                      1
type                       0
description               18
release_year               0
age_certification       2619
runtime                    0
genres                     0
production_countries       0
seasons                 3744
imdb_id                  403
imdb_score               482
imdb_votes               498
tmdb_popularity           91
tmdb_score               311
dtype: int64

# Report